.topnav {
	display: flex;
	overflow: hidden;
	margin-top: 15px;
	background-color: #333;
	border-radius: 11px;
}

.topnav a {
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

#link-right {
	margin-left: auto;
}


.bg-img {
    background-image: url("imagenes/ADM.png");
    height: 600px;
    width: auto;
    background-repeat: no-repeat;
}

.imagen-descriptiva {
    background-image: url("imagenes/1.png");
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
}

.content {
    width: 100%;
}

.pasoUno {
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 10px;
    float: left;
    position: relative;
    width: 30%;
    border: steelblue 4px;
    height: auto;
    border-radius: 11px;
    border-style: ridge;
    font-style: normal;
    font-weight: bold;
}

.pasoDos {
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 40px;
    float: left;
    position: relative;
    width: 30%;
    border: steelblue 4px;
    height: auto;
    border-radius: 11px;
    border-style: ridge;
    font-style: normal;
    font-weight: bold;
}

.pasoTres {
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 40px;
    position: relative;
    float: left;
    width: 30%;
    border: steelblue 4px;
    height: auto;
    border-radius: 11px;
    border-style: ridge;
    font-style: normal;
    font-weight: bold;
}

.pasoUno{
    text-align: center;
    font-size: 30px;
}

.pasoDos{
    text-align: center;
    font-size: 30px;
}

.pasoTres{
    text-align: center;
    font-size: 30px;
}